<div class="card">
    <p-table [value]="(tickets$ | async) ?? []" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        ID
                        <p-sortIcon field="idTicket" />
                    </div>
                </th>
                <th pSortableColumn="nameTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        Nom
                        <p-sortIcon field="nameTicket" />
                    </div>
                </th>
                <th pSortableColumn="authorTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        Auteur
                        <p-sortIcon field="authorTicket" />
                    </div>
                </th>
                <th pSortableColumn="devTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        Responsable
                        <p-sortIcon field="devTicket" />
                    </div>
                </th>
                <th pSortableColumn="startdateTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        Date de début
                        <p-sortIcon field="startdateTicket" />
                    </div>
                </th>
                <th pSortableColumn="updateDateTicket" style="width:20%">
                    <div class="flex items-center gap-2">
                        Date MàJ
                        <p-sortIcon field="updateDateTicket" />
                    </div>
                </th>
                <th pSortableColumn="appTicket.name" style="width:20%">
                    <div class="flex items-center gap-2">
                        Application
                        <p-sortIcon field="appTicket.name" />
                    </div>
                </th>
                <th pSortableColumn="typeTicket.name" style="width:20%">
                    <div class="flex items-center gap-2">
                        Type
                        <p-sortIcon field="typeTicket.name" />
                    </div>
                </th>
                <th pSortableColumn="statusTicket.name" style="width:20%">
                    <div class="flex items-center gap-2">
                        Statut
                        <p-sortIcon field="statusTicket.name" />
                    </div>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr>
                <td>{{ ticket.idTicket }}</td>
                <td>{{ ticket.nameTicket }}</td>
                <td>{{ ticket.authorTicket }}</td>
                <td>{{ ticket.devTicket }}</td>
                <td>{{ ticket.startdateTicket }}</td>
                <td>{{ ticket.updateDateTicket }}</td>
                <td>{{ ticket.appTicket.name }}</td>
                <td>{{ ticket.typeTicket.name }}</td>
                <td>
                    <p-badge [value]="statusAffichage(ticket.statusTicket)" [severity]="statusSeverity(ticket.statusTicket)" />
                </td>
                <td><p-button (onClick)="onClick(ticket.idTicket)" label="Consulter" /></td>
            </tr>
        </ng-template>
    </p-table>
</div>
