<div class="m-5">
    <p-panel header="Soumettre un nouveau Ticket">
        <section class="flex flex-row w-full">
            
                <div class="m-2 w-1/2">
                <!-- NOM DU TICKET -->
                <p-inputgroup class="my-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-file"></i>
                    </p-inputgroup-addon>
                    <input pInputText [(ngModel)]="nameTicket" placeholder="Nom du Ticket" />
                </p-inputgroup>

                <!-- NOM DE L'AUTEUR -->
                <p-inputgroup class="my-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-user"></i>
                    </p-inputgroup-addon>
                    <input pInputText [(ngModel)]="authorTicket" placeholder="Nom de l'auteur" />
                </p-inputgroup>
            </div>

            <div class="m-2 w-1/2">
                <!-- APPLICATION -->
                <p-inputgroup class="my-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-map"></i>
                    </p-inputgroup-addon>
                    <p-select [(ngModel)]="appTicket" [options]="apps" optionLabel="Application" placeholder="Application" />
                </p-inputgroup>

                <!-- TYPE -->
                <p-inputgroup class="my-2">
                    <p-inputgroup-addon>
                        <i class="pi pi-map"></i>
                    </p-inputgroup-addon>
                    <p-select [(ngModel)]="typeTicket" [options]="types" optionLabel="Name" placeholder="Type" />
                </p-inputgroup>
            </div>
        </section>

        <!-- MESSAGE DE L'AUTEUR -->
        <p-inputgroup class="my-2">
            <p-inputgroup-addon>
                <i class="pi pi-pencil"></i>
            </p-inputgroup-addon>
            <input pInputText [(ngModel)]="authorMsgTicket" placeholder="Message de l'auteur" />
        </p-inputgroup>

        <section class="flex flex-row w-full justify-end">

            <div class="card flex justify-center m-4">
                <p-button label="Annuler" />
            </div>

            <div class="card flex justify-center m-4">
                <p-button label="Soumettre" />
            </div>
            
        </section>
    </p-panel>
</div>